
<div class="strib strib-styles strib-styles-specifically">
  <section class="container-lg">
    <header class="hero">
      <h1>The Star Tribune Top 50 Companies</h1>

      <p class="lead container-sm">Here's a lead-in paragraph to let you know what about to happen.</p>

      <div class="byline">
        <address>By
          <a rel="author" href="http://example.com/author">Patrick Kennedy</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2017-07-30T16:00:00">July 30, 2018</time>
      </div>
    </header>

    <main>
      <div class="controls">
        <h1 aria-label="controls-form" class="sr-only">Controls to adjust list of companies</h1>

        <form class="inline-form" id="controls-form">
          <div class="inline-form-element">
            <label for="filter-category">Filter</label>
            <div id="filter-category" role="group">
              <button type="button">Healthcare</button>
              <button type="button">Example 1</button>
              <button type="button">Example 2</button>
              <button type="button">Example 3</button>
              <button type="button">Example 4</button>
            </div>
          </div>
        </form>
      </div>

      <h1 aria-label="company-list" class="sr-only">List of companies</h1>
      <ul class="company-list">
        <% companies.forEach((company, ci) => { %>
          <li data-id="<%= company.coid %>">
            <div class="row">
              <div class="col col-25">
                <div class="rank">
                  <%= company.rank %>
                </div>
              </div>

              <div class="col col-75">
                <h2><%= company.company %></h2>

                <p><%= company.shortDesc %></p>

                <ul class="tags">
                  <li><%= company.stockSymbol %></li>
                  <li>Healthcare</li>
                  <li>2016 ranking:
                    <strong><%= company.previousRank %></strong>
                    <% if (company.rank > company.previousRank) { %>
                      <i class="strib-icon strib-arrow-value-up"></i>
                    <% } else if (company.rank < company.previousRank) { %>
                      <i class="strib-icon strib-arrow-value-down"></i>
                    <% } %>
                  </li>
                  <li><%= company.city %></li>
                  <li><a href="<%= h.linkURL(company.www) %>" target="_blank" rel="noopener"><%= h.linkText(company.www) %></a></li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col col-25 company-logo">
                <% if (company.hasLogo) { %>
                  <img src="./assets/logos/<%= company.coid %>.png" alt="Logo for <%= company.company %>">
                <% } %>
              </div>

              <div class="col col-25">
                <h3 class="sr-only">Revenue</h3>

                <ul class="data-list">
                  <li class="revenue">
                    <span>$<%= h.abbreviateNumber(h.getValue(company.finances, 'revenue', publishYear)) %></span>
                    in revenue
                  </li>

                  <li class="revenue-change">
                    <span><%= h.getChange(company.finances, 'revenue', publishYear) %></span>
                    <% if (h.getChange(company.finances, 'revenue', publishYear, 2, false) > 0) { %>
                      <i class="strib-icon strib-arrow-value-up"></i>
                    <% } else { %>
                      <i class="strib-icon strib-arrow-value-down"></i>
                    <% } %>
                    change from 2016
                  </li>

                  <li class="revenue-return"><span>0.0%</span> return on revenue</li>
                </ul>
              </div>

              <div class="col col-25">
                <h3 class="sr-only">Profits</h3>

                <ul class="data-list">
                  <li class="profits">
                    <span>$<%= h.abbreviateNumber(h.getValue(company.finances, 'netIncome', publishYear)) %></span>
                    in profits
                  </li>

                  <li class="profits-change">
                    <span><%= h.getChange(company.finances, 'netIncome', publishYear) %></span>
                    <% if (h.getChange(company.finances, 'netIncome', publishYear, 2, false) > 0) { %>
                      <i class="strib-icon strib-arrow-value-up"></i>
                    <% } else { %>
                      <i class="strib-icon strib-arrow-value-down"></i>
                    <% } %>
                    change from 2016
                  </li>
                </ul>
              </div>

              <div class="col col-25">
                <ul class="data-list">
                  <li class="employees">
                    <span><%= h.abbreviateNumber(h.getValue(company.finances, 'totalEmployees', publishYear)) %></span>
                    employees
                  </li>

                  <li class="employees-change">
                    <span><%= h.getChange(company.finances, 'totalEmployees', publishYear) %></span>
                    <% if (h.getChange(company.finances, 'totalEmployees', publishYear, 2, false) > 0) { %>
                      <i class="strib-icon strib-arrow-value-up"></i>
                    <% } else if (h.getChange(company.finances, 'totalEmployees', publishYear, 2, false) < 0) { %>
                      <i class="strib-icon strib-arrow-value-down"></i>
                    <% } %>
                    change from 2016
                  </li>
                </ul>
              </div>
            </div>
          </li>
        <% }) %>
      </ul>
    </main>

    <footer class="container-md">
      <div class="credits">
        <p>Data collected from examples.  Data collected from examples.  Data collected from examples.  Data collected from examples.  Data collected from examples.  Data collected from examples.  Data collected from examples.  Data collected from examples.</p>

        <p>Star Tribune graphic: Patrick Kennedy, Alan Palazzolo, Jamie Hutt, Billy Steve Clayton</p>
      </div>
    </footer>
  </section>
</div>
