<% colorList = _.filter(_.uniq(_.map(companies, 'category'))); %>

<div class="strib strib-styles strib-styles-specifically">
  <section class="container-lg">
    <header class="hero">
      <h1>Star Tribune 50:<br>The 27<sup>th</sup> annual report</h1>

      <p class="lead container-md">A strong economy helped the 50 largest companies in Minnesota to increase overall revenues by 6.6 percent, much better than 2016 when the collective revenues grew 4.4 percent.</p>

      <div class="byline">
        <address>By
          <a rel="author" href="http://example.com/author">Patrick Kennedy</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2018-06-17T16:00:00">June 17, 2018</time>
      </div>
    </header>

    <main>
      <div class="intro-paragraph container-md">
        <p>
          The companies also added 38,536 employees when companies on the list last year added 11,098.
          The list is dominated by the presence of UnitedHealth Group at the top.  Their total revenue is more than 2.5 times that of second place Target. Excluding UnitedHealth though and revenues for the remainder of the list still grew 5.3 percent.
          Half the companies on our list are manufacturing companies and an improving industrial economy meant  21 of the 25 manufacturers on the list saw revenue increases. The exceptions being from prepared food manufacturers General Mills and Hormel Foods and electronic component manufactures Digi International and Nortech Systems Inc.
        </p>
      </div>

      <div class="controls">
        <h1 aria-label="controls-form" class="sr-only">Controls to adjust list of companies</h1>

        <form class="inline-form" id="controls-form">
          <div class="inline-form-element">
            <label for="filter-category">Filter:</label>
            <div id="filter-category" role="group">
              <% _.each(colorList, (c, ci) => { %>
                <button class="category-color-<%= ci + 1 %>" type="button" data-value="<%= c.toLowerCase() %>"><%= c %></button>
              <% }) %>

              <button type="button" data-value="" class="active">Show all</button>
            </div>
          </div>
        </form>
      </div>

      <h1 aria-label="company-list" class="sr-only">List of companies</h1>
      <ul class="company-list">
        <% companies.forEach((company, ci) => { if (company.ranks[publishYear] <= 50) { %>
          <li class="company category-color-<%= colorList.indexOf(company.category) + 1 %>" data-id="<%= company.coid %>" data-category="<%= company.category ? company.category.toLowerCase() : '' %>">
            <div class="row">
              <div class="col col-20">
                <div class="rank">
                  <%= company.ranks[publishYear] %>
                </div>
              </div>

              <div class="col col-80">
                <h2><%= company.name %></h2>

                <p><%= company.shortdesc %></p>

                <% if (h.getValue(company.finances, 'footnotes', publishYear) || company.footnotes) { %>
                  <div class="footnotes">
                    <%= h.getValue(company.finances, 'footnotes', publishYear) %>
                    <%= company.footnotes %>
                  </div>
                <% } %>

                <ul class="tags">
                  <li><%= company.stocksymbol %></li>

                  <% if (company.category) { %>
                    <li class="company-category"><%= company.category %></li>
                  <% } %>

                  <li><%= publishYear - 1 %> ranking:
                    <% if (company.ranks[publishYear - 1]) { %>
                      <strong><%= company.ranks[publishYear - 1] %></strong>
                      <span title="Last year's ranking: <%= company.ranks[publishYear - 1] %>">
                        <% if (company.ranks[publishYear] < company.ranks[publishYear - 1]) { %>
                          <i class="strib-icon strib-arrow-value-up"></i>
                        <% } else if (company.ranks[publishYear] > company.ranks[publishYear - 1]) { %>
                          <i class="strib-icon strib-arrow-value-down"></i>
                        <% } %>
                      </span>
                    <% } else { %>
                      <strong>n/a</strong>
                    <% } %>
                  </li>

                  <% if (h.getValue(company.employees, 'total', publishYear)) { %>
                    <li>Employees:
                      <strong><%= h.millions(h.getValue(company.employees, 'total', publishYear)) %></strong>
                      <span title="Total number of employees last year: <%= h.millions(h.getValue(company.employees, 'total', publishYear - 1)) %>">
                        <% if (h.getChange(company.employees, 'total', publishYear, 2, false) > 0) { %>
                          <i class="strib-icon strib-arrow-value-up"></i>
                        <% } else if (h.getChange(company.employees, 'total', publishYear, 2, false) < 0) { %>
                          <i class="strib-icon strib-arrow-value-down"></i>
                        <% } %>
                      </span>
                    </li>
                  <% } %>

                  <li><%= company.city %></li>

                  <li><a href="<%= h.linkURL(company.www) %>" target="_blank" rel="noopener"><%= h.linkText(company.www) %></a></li>
                </ul>
              </div>
            </div>

            <div class="row data-row">
              <div class="col col-0 col-20 company-logo">
                <% if (company.hasLogo) { %>
                  <img src="./assets/logos/<%= company.coid %>.png" alt="Logo for <%= company.company %>">
                <% } else { %>
                  &nbsp;
                <% } %>
              </div>

              <div class="col col-80 col-sm-40 col-md-20">
                <h3 class="sr-only">Revenue</h3>

                <ul class="data-list">
                  <li class="revenue">
                    <span>$<%= h.millions(h.getValue(company.finances, 'revenue', publishYear)) %></span> in revenue
                  </li>

                  <li class="revenue-change">
                    <span class="has-tooltip-title" title="$<%= h.millions(h.getValue(company.finances, 'revenue', publishYear - 1)) %> in <%= publishYear - 1 %>"><%= h.getChange(company.finances, 'revenue', publishYear) %></span>
                    <% if (h.getChange(company.finances, 'revenue', publishYear, 2, false) > 0) { %>
                      <i class="strib-icon strib-arrow-value-up"></i>
                    <% } else { %>
                      <i class="strib-icon strib-arrow-value-down"></i>
                    <% } %>
                    change from <%= publishYear - 1 %>
                  </li>
                </ul>
              </div>

              <div class="col col-80 col-sm-40 col-md-20">
                <h3 class="sr-only">Profits</h3>

                <ul class="data-list">
                  <li class="profits">
                    <span>$<%= h.millions(h.getValue(company.finances, 'netincomebeforeextra', publishYear)) %></span> in profits
                  </li>

                  <li class="profits-change">
                    <span class="has-tooltip-title" title="$<%= h.millions(h.getValue(company.finances, 'netincomebeforeextra', publishYear - 1)) %> in <%= publishYear - 1 %>"><%= h.getChange(company.finances, 'netincomebeforeextra', publishYear) %></span>

                    <% if (h.getChange(company.finances, 'netincomebeforeextra', publishYear, 2, false) > 0) { %>
                      <i class="strib-icon strib-arrow-value-up"></i>
                    <% } else { %>
                      <i class="strib-icon strib-arrow-value-down"></i>
                    <% } %>
                    change
                  </li>
                </ul>
              </div>

              <div class="col col-80 col-sm-40 col-md-20">
                <h3 class="sr-only">Assets</h3>

                <ul class="data-list">
                  <li class="assets">
                    <span>$<%= h.millions(h.getValue(company.finances, 'totalassets', publishYear)) %></span> in total assets
                  </li>

                  <li class="assets-change">
                  <span class="has-tooltip-title" title="$<%= h.millions(h.getValue(company.finances, 'totalassets', publishYear - 1)) %> in <%= publishYear - 1 %>"><%= h.getChange(company.finances, 'totalassets', publishYear) %></span>
                    <% if (h.getChange(company.finances, 'totalassets', publishYear, 2, false) > 0) { %>
                      <i class="strib-icon strib-arrow-value-up"></i>
                    <% } else { %>
                      <i class="strib-icon strib-arrow-value-down"></i>
                    <% } %>
                    change
                  </li>
                </ul>
              </div>

              <div class="col col-80 col-sm-40 col-md-20">
                <h3 class="sr-only">Market capitalization</h3>

                <ul class="data-list">
                  <li class="marketcap">
                    <span>$<%= h.millions(h.getValue(company.finances, 'marketcap', publishYear)) %></span> market capitalization
                  </li>

                  <li class="marketcap-change">
                  <span class="has-tooltip-title" title="$<%= h.millions(h.getValue(company.finances, 'marketcap', publishYear - 1)) %> in <%= publishYear - 1 %>"><%= h.getChange(company.finances, 'marketcap', publishYear) %></span>
                    <% if (h.getChange(company.finances, 'marketcap', publishYear, 2, false) > 0) { %>
                      <i class="strib-icon strib-arrow-value-up"></i>
                    <% } else { %>
                      <i class="strib-icon strib-arrow-value-down"></i>
                    <% } %>
                    change
                  </li>
                </ul>
              </div>
            </div>
          </li>
        <% }}) %>
      </ul>
    </main>

    <footer class="container-md">
      <div class="credits">
        <p>The Star Tribune 50 is a measure of the largest publicly held companies with headquarters in Minnesota ranked by revenue. Another 23 companies were considered but whose revenues were too small for the list. Data for the 50 largest companies also includes each company&rsquo;s net income before extraordinary item &mdash; many companies adjusted net income based on corporate tax reform, assets and market capitalization. Data for the list was taken from Thomson Reuters.</p>

        <p>The list excludes public companies that do not trade on major exchanges, closely held companies, which usually do not disclose financial data, cooperatives and fraternal benefits organizations. Companies that closed acquisitions in 2018 but did not file year-end results were also excluded. Companies who have management headquarters in Minnesota, including Medtronic, Pentair and Winnebago Industries are included.</p>

        <p>Star Tribune graphic: Patrick Kennedy, Alan Palazzolo, Jamie Hutt, David Braunger</p>
      </div>
    </footer>
  </section>
</div>
