/**
 * Project specific styling.
 */

$category-colors: #EBE3D3, #D5E1EC, #EDD4D4, #DBE3CE, #D6D6E6, #B7B78A;

* {
  font-size: 14px;
}

.hero h1 {
  margin: 0 auto 0.5em;
  font-size: 4em;
  line-height: 0.555em;

  @include media-breakpoint-up(md) {
    font-size: 5.55em;
    line-height: 0.75em;
  }

  .sub-title {
    display: inline-block;
    font-size: 0.45em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-break: 0.85em;

    @include media-breakpoint-down(sm) {
      font-size: 0.4em;
    }

    @include media-breakpoint-up(md) {
      font-size: 0.55em;
    }

    sup {
      display: inline-block;
      font-size: 0.5em;
      vertical-align: super;
      padding-left: 0.15em;
    }
  }
}

.intro-paragraph {
  margin-top: -1em;
  margin-bottom: 4em;
}

form.inline-form {
  display: flex;
  padding-bottom: 1em;
  border-bottom: 3px solid #676767;
  margin-bottom: 2em;
  text-align: center;

  .inline-form-element {
    label,
    & > div {
      display: inline-block;
    }

    label {
      margin-right: 1em;
    }
  }

  button {
    padding: 0.5em;
  }
}

.controls {
  margin-bottom: 1.5em;

  button {
    margin-bottom: 0.5em;
    font-size: 0.9em;
    color: $color-text;
    border: 2px solid transparent;
    background-color: $color-white;
  }

  button.active {
    background-color: $color-white;
    border: 2px solid #767676;
  }

  @each $c in $category-colors {
    $i: index($category-colors, $c);

    .category-color-#{$i} {
      background-color: $c;
      border: 2px solid transparent;

      &.active,
      &:hover {
        background-color: darken($c, 20%);
        border: 2px solid #767676;
      }
    }
  }
}

.company-list {
  margin: 0;
  padding: 0;

  @each $c in $category-colors {
    $i: index($category-colors, $c);

    .category-color-#{$i} .rank {
      background-color: $c;
    }
  }

  .strib-arrow-value-up {
    color: map-get($theme, "green-dark");
  }

  .strib-arrow-value-down {
    color: map-get($theme, "red-dark");
  }

  & > li {
    padding-bottom: 2em;
    border-bottom: 2px solid #E8E8E8;
    margin-bottom: 2em;
    list-style: none;
  }

  p {
    margin-bottom: 0.5em;

    @include font-styles("benton-sans");

    letter-spacing: -0.2px;
  }

  .rank {
    // width: 100%;
    @include font-styles("popular-light");

    font-size: 4em;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    text-align: center;
    padding: 0.25em;
    border-radius: 0.1em;
    background-color: map-get($grays, "lighter");

    @media only screen and (max-width: map-get($breakpoints, "sm")) {
      font-size: 2.5em;
      font-weight: bold;
    }
  }

  h2 {
    font-size: 2.2em;
    padding: 0;
    margin: 0;
    line-height: 1em;
    padding-bottom: 0.2em;
  }

  .tags {
    margin: 1em 0 2em;
    padding: 0;

    li {
      list-style: none;

      strong {
        font-size: 1em;
        line-height: 1em;
      }

      font-size: 0.85em;
      display: inline-block;
      line-height: 1em;
      padding-right: 0.5em;
      margin-right: 0.5em;
      border-right: 2px solid map-get($grays, "lighter");

      a {
        font-size: inherit;
      }

      span {
        line-height: 1em;
        font-size: 1em;

        i {
          line-height: 1em;
          font-size: 1em;
        }
      }

      @include media-breakpoint-up(md) {
        padding-right: 2em;
        margin-right: 2em;
        font-size: 0.85em;
      }
    }

    li:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
  }

  .footnotes {
    font-size: 0.65em;
    color: map-get($grays, medium);
    margin-bottom: 1.25em;
  }

  .company-logo {
    display: none;

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }

  .has-tooltip-title {
    cursor: help;
  }

  .company-logo {
    text-align: right;

    img {
      max-height: 8em;
      padding-top: 1em;
      // padding-right:.5rem;
      margin-right: 0;
    }
  }

  .data-row {
    margin-left: 19%;

    @include media-breakpoint-up(sm) {
      margin-left: -0.5rem;
    }

    em {
      font-size: 0.5em;
    }
  }

  .data-list {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;

    .strib-icon::before {
      vertical-align: baseline;
    }

    li {
      margin: 0;
      padding: 0;
      font-size: 0.75em;
      list-style: none;

      @include media-breakpoint-up(md) {
        font-size: 0.85em;
        display: block;
      }

      span {
        font-size: 1.4em;
        display: inline-block;

        @include media-breakpoint-up(md) {
          font-size: 1.5em;
          display: block;
        }
      }
    }

    .revenue,
    .profits,
    .employees,
    .marketcap,
    .assets {
      margin-bottom: 0;

      @include media-breakpoint-up(md) {
        margin-bottom: 1em;
      }

      span {
        font-weight: bold;
        display: inline-block;

        @include media-breakpoint-up(md) {
          display: block;
        }
      }
    }
  }
}

footer .credits {
  font-size: 0.65em;
  padding-top: 4em;
  margin-bottom: 4em;

  p {
    @include font-styles("benton-sans");

    margin-bottom: 1em;
  }
}
